<h2><%= restaurant.name %></h2>
<h3><%= restaurant.address %></h3>

<% if restaurant.meals.any? %>
  <ul>
  <% restaurant.meals.each do |meal| %>
     <li><%= meal.name %></li>
  <% end %>  
  </ul>
<% end %>

