// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.btn-success {
	float: left;
}

.table {
       margin-top: 15px;
}

.table-title {
	background-color: #484848;
	height: 40px;
	width: 240px;
	margin: 0 auto;
}

.table-title.home {
	width: 450px;
}

.table-title.show {
	width: 200px;
}

.table-title h2 {
       font-weight: bold;
       color: white;
       line-height: 40px; 
       text-align: center;
       vertical-align: middle;
}

.table-header {
	text-decoration: underline;
	font-weight: bold;
}

.table-header h3 {
	font-weight: bold;
}

#map {
       margin-top: 10px;
}

